.header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 33, 125, 1) 0%,
    rgba(22, 194, 213, 1) 100%
  );
  ul {
    a {
      display: inline-block;
      color: white;
      font-size: 14px;
      transition: 0.3s linear;
      white-space: nowrap;
      cursor: pointer;
      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
  }
  .menu {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 24px;
    transition: 0.3s linear;
    > li {
      > a {
        position: relative;
        padding: 28px 0;
        &.arrow {
          padding-right: 20px;
          &:before {
            font-family: ETmodules, sans-serif;
            content: '3';
            font-size: 16px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            font-weight: 800;
          }
        }
      }
      &:active,
      &:hover {
        .subMenu {
          display: block;
        }
      }
    }
    &.active {
      display: flex;
      transform: translate(0, 0);
    }
  }
  .subMenu {
    display: none;
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    background: #102680;
    padding: 20px;
    width: 240px;
    border-top: 3px solid #2ea3f2;
  }
  .burger {
    display: none;
    margin: 28px 0 24px auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 18px;
    width: 24px;
    position: relative;
    &.active {
      span {
        top: 4px;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }
    span {
      transition: 0.3s linear;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: block;
      height: 2px;
      background: white;
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        top: 16px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    ul {
      li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
      }
      a {
        width: 100%;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    .menu {
      display: none;
      overflow: auto;
      left: 0;
      top: 70px;
      height: calc(100vh - 70px);
      width: 100vw;
      position: absolute;
      z-index: 10;
      padding: 16px;
      gap: 0;
      background: white;
      flex-direction: column;
      align-items: flex-start;
      transform: translate(100%, 0);
      &.active {
        animation: .3s fadeIn linear forwards;
      }
      > li {
        > a {
          background-color: rgba(0, 0, 0, 0.03);
          padding: 10px;
          &:before {
            display: none;
          }
        }
      }
    }
    .subMenu {
      width: 100%;
      padding: 0 0 0 32px;
      display: block;
      background: transparent;
      border-top: none;
      position: relative;
      transform: translate(0, 0);
      a {
        background: transparent;
      }
    }
    .burger {
      display: flex;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
