@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ETmodules';
  src: url('/fonts/ETmodules.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Inter-Thin.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Inter-ExtraLight.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Inter-Light.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter-SemiBold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Inter-ExtraBold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Inter-Black.ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Montserrat-Black.ttf');
}

body {
  font-size: 14px;
  font-weight: 500;
  background: white;
  color: #777;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  color: #10217d;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 24px;
}

main {
  padding-top: 90px;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 16px;
  input {
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    width: 100%;
    color: #000000;
    transition: 0.3s linear;
    text-transform: uppercase;
    &:hover,
    &:focus {
      border-color: #10217d;
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      opacity: 0.7;
    }
  }
}

.checkbox {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: 0.3s linear;
  &:hover,
  &:active {
    opacity: 0.7;
  }
  input {
    width: auto;
    display: none;
    &:checked ~ .icon {
      &:before {
        opacity: 1;
      }
    }
  }
  .icon {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #777771;
    margin-right: 10px;
    position: relative;
    &:before {
      opacity: 0;
      content: '✓';
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      transition: 0.3s linear;
      color: black;
    }
  }
}

.input-error {
  color: #e04562;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  padding: 2px 10px;
  border-radius: 2px;
  margin-bottom: 0;
  background: #f9e4e8;
  font-weight: 500;
}

.small-caps {
  font-variant: small-caps;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  main {
    padding-top: 70px;
  }
}
