.footer {
  background: url('/images/footer-bg.jpeg') no-repeat center center;
  background-size: cover;
  a,
  h5,
  p {
    color: white;
  }
  ul {
    width: 19%;
    h5 {
      font-size: 16px;
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 12px;
      transition: 0.3s linear;
      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  .social {
    display: flex;
    align-items: center;
    gap: 11px;
    a {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 0;
      transition: 0.3s linear;
      width: 36px;
      height: 36px;
      border: 2px solid white;
      border-radius: 3px;
      position: relative;
      &:hover,
      &:active {
        opacity: 0.7;
      }
      &:before {
        content: '';
        height: 100%;
        width: 100%;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: ETmodules, sans-serif;
        speak: none;
      }
      &.facebook {
        &:before {
          content: '\e093';
        }
      }
      &.linkedin {
        &:before {
          content: '\e09d';
        }
      }
      &.instagram {
        &:before {
          content: '\e09a';
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    ul {
      width: 48%;
      h5 {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .footer {
    ul {
      width: 100%;
    }
  }
}
